body {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

main {
  flex: 1;
  margin: 0 1rem;
  padding: 0 5rem;
}

footer {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-evenly;
}

footer a:link {
  color: black;
}

footer a:visited {
  color: black;
}

.nav-left {
  margin-left: 4rem;
}

.nav-right {
  margin-right: 4rem;
  margin-top: 1.5rem;
}

#items {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.item {
  background-color: #d9d9d9;
  width: 290px;
  padding: 10px;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

.item div,
button {
  margin: 1rem;
}

.item button,
#rightPanel button {
  background-color: #69d467;
  width: 85%;
  padding: 5px;
}

#rightPanel {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  z-index: 2;
}

.hidden {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Semi-transparent black */
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.bubble-container {
  position: relative;
  display: inline-block;
}
#cart_count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8em;
  transform: translate(50%, -50%);
}
